@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

html {
    overflow-x: hidden;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    background: #131313;
}

/* -------INTRODUCTION------ */

#introduction {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#introduction #header {
    text-align: left;
    font-size: 4rem;
    font-weight: 700;
    color: #FAFAFA;
}

#introduction #content-container {
    width: 80%;
    margin: 4em auto;
    height: calc(100vh - 8em)
}

#introduction p {
    text-align: center;
    vertical-align: middle;
    font-size: 4rem;
    color: #FAFAFA;
}

#introduction #left {
    width: 60%;
    float: left;
    display: block;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    z-index: 1;
}

#introduction #header {
    text-align: left;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
    margin: 2.5rem 0;
}

#introduction #right {
    width: 40%;
    float: right;
    display: block;
    position: relative;
    top: 50%;
    transform: translate(-15%,-50%);
    z-index: 99999;
    
}

#introduction #content {
    text-align: left;
    font-size: 1.25rem;
    justify-self: flex-start;
    color: #FAFAFA;
}

#introduction #description {
    text-align: left;
    font-size: 1.25rem;
    justify-self: flex-start;
    padding-bottom: 2rem;
    border-bottom: 1px solid #444444
}

#introduction a {
    color: #5AADFF;
    text-decoration: none;
}

#introduction a:hover {
    text-decoration: underline 1px solid #5AADFF;
    text-underline-offset: 5px;
}

#introduction nav a {
    color: #FAFAFA;
    text-decoration: none;
}

#introduction nav a:hover {
    text-decoration: underline 1px solid #FAFAFA;
    text-underline-offset: 5px;
}

pre {
    color: #FAFAFA;
    font-family: 'IBM Plex Mono', monospace;
}

/* ----------NAV---------- */

nav ul {
    padding-top: 0.5rem;
    padding-left: 0;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
}

nav ul li {
    display: inline;
    font-size: 1.25rem;
}

nav #svg {
    vertical-align: top;
}

nav span {
    font-size: 10px;
}

nav span a {
    display: inline;
    justify-content: space-between;
    align-items: center;
}

/* ----------ABOUT---------- */

#about {
    width: 100%;
    display: block;
    overflow: auto;
    background: url("/images/singapore.jpg");
    background-position: center;
    background-size: cover;
}

#overlay {
    width: 100%;
    display: block;
    overflow: auto;
    background: linear-gradient(to bottom, rgba(19, 19, 19, 1), rgba(19, 19, 19, 0.75), rgba(19, 19, 19, 0.5), rgba(19, 19, 19, 0.75), rgba(19, 19, 19, 1));
    backdrop-filter: blur(10px);
}

#about #content-container {
    width: 80%;
    margin: 10em auto;
    overflow-y: auto;
}

#about #left {
    width: 25%;
    float: left;
}

#about #header {
    text-align: left;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
    margin: 0;
    padding: 0;
    color: #FAFAFA;
}

#about #right {
    width: 75%;
    float: right;
}

#about #content {
    color: #FAFAFA;
}

#about #content:first-child {
    text-align: left;
    font-size: 1.25rem;
    justify-self: flex-start;
    margin-top: 0;
}

#about #content:last-child {
    text-align: left;
    font-size: 1.25rem;
    justify-self: flex-start;
    margin-top: 0;
    margin-bottom: 0;
}

#about a {
    color: #5AADFF;
    text-decoration: none;
}

#about a:hover {
    text-decoration: underline 1px solid #5AADFF;
    text-underline-offset: 5px;
}

/* ----------EXPERIENCE---------- */

#experience {
    width: 100%;
    display: block;
    overflow: auto;
}

#experience #content-container {
    width: 80%;
    margin: 6em auto;
    overflow-y: auto;
}

#experience #left {
    width: 25%;
    float: left;
}

#experience #title {
    text-align: left;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
    margin: 0;
    padding: 0;
    color: #FAFAFA;
    overflow: hidden;
}

#experience #date {
    text-align: left;
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    color: #FAFAFA;
}

#experience #company {
    text-align: left;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0;
    padding: 0;
    color: #FAFAFA;
    font-weight: 700;
}

#experience #company a {
    color: #FFFFFF;
    text-decoration: none;
}

#experience #company a:hover {
    text-decoration: underline 1px solid #FFFFFF;
    text-underline-offset: 5px;
}

#experience #position {
    text-align: left;
    font-size: 1.25rem;
    color: #FAFAFA;
    font-weight: 500;
}

#experience #right {
    width: 75%;
    float: right;
}

#experience #description {
    color: #FAFAFA;
    font-size: 1.25rem;
}

#experience #skills {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

#experience #skills #skill {
    background: rgba(5, 99, 193, 0.15);
    width: fit-content;
    padding: 0.75rem 1rem;
    border-radius: 25px;
    color:#5AADFF;
    display: inline-flex;
    margin: 0.25rem 0;
}

#experience #skills #skill:hover {
    background: rgba(5, 99, 193, 0.6);
    width: fit-content;
    padding: 0.75rem 1rem;
    border-radius: 25px;
    color:#5AADFF;
    display: inline-flex;
    margin: 0.25rem 0;
}